<div class="flex flex-col">
  <label for=<%= name %> class="text-xs"><%= label %></label>
  <input id=<%= name %> name=<%= name %> type=<%= type %> class="bg-primary-200 p-3 rounded border border-solid border-primary-300" value="<%= value %>" placeholder="<%= placeholder %>">
</div>