<h1><%= title %></h1>

<% if (user) { %>
<h2>Hello, <%= user.firstName %>!</h2>
<a href="/logout">Log out</a>
<% } %>

<form action="/files/upload-file" method="POST" enctype="multipart/form-data">
  <div>
    <label for="file">File upload</label>
    <input type="file" name="file" id="file">
  </div>
  <% if (folderId) { %>
  <input type="hidden" name="parent_folder" value="<%= folderId %>" />
  <% } %>
  <button type="submit">Upload</button>
</form>
<%- include('partials/_error', { field: 'file_upload' }) %>

<form action="/folders/create-folder" method="POST">
  <div>
    <label for="folder_name">New folder</label>
    <input type="text" name="folder_name" id="folder_name" value="Untitled Folder">
  </div>
  <% if (folderId) { %>
  <input type="hidden" name="parent_folder" value="<%= folderId %>" />
  <% } %>
  <button type="submit">Create</button>
</form>
<%- include('partials/_error', { field: 'folder_name' }) %>

<section>
  <h3>Items</h3>
  <ul>
    <% items.forEach(item => { %>
    <!--  TODO: CHANGE THE ACTIONS DEPENDS IF THEY'RE FOLDERS/FILES -->
    <li>
      <%= item.name%>
      <% if (item.type === "folder") {%>
      <!-- Folders -->
      <a href="/folders/<%= item.id %>"><button>View</button></a>
      <form action="/folders/<%= item.id %>/edit-folder" method="POST">
        <input type="text" name="new_folder_name" placeholder="New folder name..." value="<%= item.name %>">
        <input type="hidden" name="parent_folder" value="<%= folderId %>" />
        <button type="submit">Edit Folder</button>
      </form>
      <form action="/folders/<%= item.id %>/delete-folder" method="POST">
        <% if (folderId) { %>
        <input type="hidden" name="parent_folder" value="<%= folderId %>" />
        <% } %>
        <button type="submit">Delete Folder</button>
      </form>
      <% } else if (item.type === "file") { %>
      <!-- Files -->
      <a href="/files/<%= item.id %>"><button>View</button></a>
      <form action="/files/<%= item.id %>/edit-file" method="POST">
        <input type="text" name="new_file_name" placeholder="New file name..." value="<%= item.name %>">
        <input type="hidden" name="parent_folder" value="<%= folderId %>" />
        <button type="submit">Edit file</button>
      </form>
      <form action="/files/<%= item.id %>/delete-file" method="POST">
        <input type="hidden" name="parent_folder" value="<%= folderId %>" />
        <button type="submit">Delete file</button>
      </form>

      <% } %>

    </li>
    <% }) %>
  </ul>
</section>